.input:focus {
    border: 2px solid #000;
    background-color: #FFF;
}

.input.has-text {
    border: 2px solid #000;
    background-color: #FFF;
}

.placeholder {
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-12px) translateX(0px) scale(0.85);
}

.clearBtn {
    display: none;
    transform: translateY(-50%);
}

.input:focus ~ .clearBtn,
.input:not(:placeholder-shown) ~ .clearBtn {
    display: flex;
}

.chooseBtn {
    display: flex;
    transform: translateY(-50%);
}

.input:focus ~ .chooseBtn,
.input:not(:placeholder-shown) ~ .chooseBtn {
    display: none;
}